<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
    <!-- select의 결과를 DataDto type으로 list 컬렉션에 저장 후 반환 -->
    <select id="selectDataAll" resultType="pack.business.SangpumDto">
        select * from sangdata order by code asc
    </select>

    <select id="selectDataByCode" parameterType="string" resultType="pack.business.SangpumDto">
        select code, sang, su, dan from sangdata
        where code=#{code}
    </select>

    <!-- 사실 기능적으로는 formbean으로 작성해야 한다. -->
    <insert id="insertData" parameterType="pack.business.SangpumBean"> <!-- bean ==> pack.DataBean -->
        insert into sangdata(code, sang, su, dan)
        values(#{code}, #{sang}, #{su}, #{dan})
    </insert>

    <update id="updateData" parameterType="pack.business.SangpumBean">
        update sangdata set sang=#{sang}, su=#{su}, dan=#{dan}
        where code=#{code}
    </update>

    <delete id="deleteData" parameterType="int">
        delete from sangdata where code=#{code}
    </delete>
</mapper>